.cardfetch {
  display: flex;
  flex-direction: column;
  &__card {
    width: 100%;
    border: solid 1.5px #f7f7f7;
    border-radius: 10px;
    padding: 10px;
    box-shadow: #dedede 3px 4px 12px -5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    &__bagiantext {
      &__title {
        font-weight: bold;
        margin-bottom: 5px;
      }
      &__kode {
        color: rgb(200, 16, 197);
        font-size: medium;
        margin-bottom: 5px;
      }
      &__bagianbawah {
        display: flex;
        align-items: center;
        gap: 20px;
        &__harga {
          font-size: medium;
          font-weight: bold;
        }
        &__kategori {
          background-color: rgb(28, 123, 255);
          padding: 5px 10px;
          border-radius: 15px;
          color: #fff;
        }
      }
    }
    &__bagianstok {
      &__label {
        font-size: small;
        background-color: #f7f7f7;
        padding: 5px;
        border-radius: 5px;
      }
      &__stok {
        font-size: xx-large;
      }
    }
  }
}
