.cardfetch {
  display: flex;
  flex-direction: column;
  &__card {
    width: 100%;
    border: solid 1.5px #f7f7f7;
    border-radius: 10px;
    padding: 10px;
    box-shadow: #dedede 3px 4px 12px -5px;
    margin-bottom: 10px;
    &__bagiantext {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      &__title {
        font-weight: bold;
        margin-bottom: 5px;
      }
      &__kode {
        color: rgb(200, 16, 197);
        font-size: small;
        margin-bottom: 5px;
        background-color: #dedede;
        border-radius: 10px;
        padding: 5px 10px;
      }
    }
  }
}
