.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  color: #000;
  padding: 10px 9% 10px 9%;
  position: fixed;
  z-index: 1001;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: #f2f2f2 0px 0px 15px;
  &__kiri {
    margin-left: 40px;
    max-width: 20vw;
    &__logo {
      text-decoration: none;
      width: auto;
      font-size: 18pt;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      justify-content: left;
      &__kiri {
        color: #c90ba0;
      }
      &__kanan {
        color: #000;
      }
    }
  }
  &__tengah {
    width: 40vw;
  }
  &__kanan {
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    padding-right: 22px;
    gap: 10px;
    &__button {
      margin-right: 10px;
      background-color: #003285;
      color: #fff;
      display: flex;
      &__iconnavcont {
        display: flex;
        align-items: center;
        gap: 5px;
        &__iconnav {
          font-size: 16px;
        }
      }
    }
    &__button:hover {
      background-color: #2a629a;
      // color: #2c2c2c;
    }
    &__panel {
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: center;
      &__nama {
        font-size: 14pt;
        color: #000;
      }
      &__panelbutton {
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        gap: 3px;
        &__icon {
          padding-top: 2px;
          font-size: 14pt;
          color: #ffffff;
        }
        &__icon:hover {
          color: #f0b7e5;
        }
      }
      &__panelbutton:hover {
        color: #f0b7e5;
      }
    }
  }
}

@media only screen and (max-width: 1188px) {
  /* For mobile phones: */
}
@media only screen and (max-width: 950px) {
  /* For mobile phones: */
  .navbar {
    &__tengah {
      width: 5vw;
    }
    &__kanan {
      width: 75vw;
      &__button {
        padding: 5px 0;
      }
      &__panel {
        align-items: center;
        gap: 5px;
        &__nama {
          font-size: 10pt;
          text-align: center;
        }
        &__panelbutton {
          margin-right: 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 670px) {
  /* For mobile phones: */
  .navbar {
    &__tengah {
      width: 5vw;
    }
    &__kanan {
      width: 75vw;
      &__button {
        padding: 5px 0;
      }
      &__panel {
        align-items: center;
        gap: 5px;
        &__nama {
          font-size: 10pt;
          text-align: center;
        }
        &__panelbutton {
          margin-right: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  .navbar {
    &__kiri {
      margin-left: 5px;
    }
    &__kanan {
      width: 60vw;
      &__panel {
        align-items: center;
        gap: 5px;
        &__nama {
          font-size: 10pt;
          text-align: center;
        }
      }
    }
  }
}
