.panelpelanggan {
  &__bagianpelanggan {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 20px;
    box-shadow: #000;
    display: flex;
    justify-content: space-between;
    &__platnomor {
      width: 280px;
    }
  }
}
